@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ites Santa Rosa<br />
    Diego Javier Funes<br />
    <abbr title="Telefono">Telefono:</abbr>
    2954698149
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@diegofunes.com">Soporte@diegofunes.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@diegofunes.com">Marketing@diegofunes.com</a>
</address>